/* @import url('https://fonts.googleapis.com/css?family=Paytone+One') */


h1{
    margin-top: 50px; 
    padding: 0;
    text-align: center; 
    font-size: 100px; 
    font-family: "paytone one";
}
input[type=text]{
    width: 400px;
    height: 30px;
    margin-left: 300px;
    border-radius: 15px;
    background-color: black;
    color: azure;
}
::placeholder {
    color: grey;
    font-size: 20px;
    text-align: center;
  }
img{
    margin-top: 80px;
    width:50px;
}